.header {
    margin: 0 auto;
    padding-top: 80px;
    width: 100%;
    text-align: center;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        padding-top: 100px;
    }

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
        padding-top: 120px;
        padding-bottom: 120px;

        height: 800px;
    }
}

.header__img {
    max-width: 320px;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        max-width: 768px;
    }

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
        max-width: unset;
        width: 400px;
    }
}
