.header {
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
    text-align: center;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
}

.header__img {
    width: 400px;
}
