.nav-panel {
    display: none;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        display: block;
        position: absolute;
        top: 0;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
    }
}

.nav-panel .row {
    margin-bottom: 0;

    @media (min-width: 798px) {
        flex-direction: row;
    }
}

.nav-panel__link {
    display: block;
    position: relative;
    padding: 10px 0 10px 0;

    font-family: "Amatic SC", cursive;
    font-size: 30px;

    &:hover {
        font-family: "Amatic SC", cursive;

        &::before {
            transition: 0.2s;
            border: 1px dashed #000;
            width: 100%;
        }
    }

    &:last-child {
        margin-bottom: 50px;
    }

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        display: inline-block;
        margin-right: 30px;
        font-size: 40px;

        &::before {
            position: absolute;
            content: "";
            display: block;
            left: -3px;
            right: -3px;
            bottom: 7px;
            width: 0;
            z-index: -1;
        }

        &:last-child {
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}

.nav-panel__img {
    margin-right: 20px;
    width: 40px;
}
