.request {
    padding: 50px 0 50px 0;
    text-align: center;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        padding: 80px 0 80px 0;
    }

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
        padding: 120px 0 80px 0;
    }
}

.request__link {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 50px;

    width: fit-content;
    font-family: "Amatic SC", cursive;
    font-size: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        position: absolute;
        content: "";
        display: block;
        left: 0;
        right: 0;
        bottom: -7px;
        width: 0;
        z-index: -1;
    }

    &:hover {
        font-family: "Amatic SC", cursive;

        &::before {
            transition: 0.2s;
            border-bottom: 1px dashed #000;
            width: 100%;
        }
    }

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        margin-bottom: 65px;

        font-size: 50px;
    }

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
        align-items: flex-end;

        margin-bottom: 80px;

        font-size: 70px;
    }
}

.pseudo--none {
    &::before {
        display: none;
    }
}

.request__link i {
    display: block;
    margin-right: 5px;

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
        margin-right: 20px;

        width: 170px;
    }
}

.request__link-title {
    margin-right: 5px;
    line-height: 1;
    text-align: left;

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
        margin-right: 20px;

        width: 170px;
    }
}

.request__link-text {
    font-size: 25px;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        font-size: 40px;
    }
}

.button_link {
    background-color: #fff;
    cursor: pointer;
}

.section-contacts_content_form {
    display: block;
    text-align: center;
    background-color: #fff;
}

.form_element {
    position: relative;
    margin-bottom: 48px;
}

.input-validate {
    display: inline-block;
    padding: 5px 10px;
    width: 290px;
    height: 50px;
    font-family: "Amatic SC", cursive;
    font-size: 20px;
    text-align: left;
    border: 1px dashed #000;
    border-radius: 5px;
    outline: none;
    background-color: #fff;

    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px #fff;

    &::placeholder {
        font-family: "Amatic SC", cursive;
    }

    &:active {
        border: 1px dashed #000;
    }

    &:focus {
        border: 1px dashed #000;
    }

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        width: 400px;
    }
}

textarea {
    outline: none;
    resize: none;
}

.textarea-message {
    display: inline-block;
    width: 290px;
    height: 114px;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        width: 400px;
    }
}

.request .row {
    align-items: center;

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
        align-items: flex-start;
    }
}

.contact-form__success {
    font-family: "Amatic SC", cursive;
    font-size: 30px;

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
        font-size: 40px;
    }
}
