.timeline-block {
    margin-bottom: 30px;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        margin-bottom: 50px;
    }

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
        margin-bottom: 100px;
    }
}

.timeline__row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin: 0 auto;
    margin-bottom: 60px;

    max-width: 320px;

    &::before {
        content: "";
        position: absolute;
        border: 1px dashed #000;
        top: 40px;
        bottom: -50px;
        left: 4.5%;
        z-index: -1;
    }

    &:last-child {
        margin-bottom: 0;

        &::before {
            display: none;
        }
    }

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        max-width: 740px;

        &::before {
            top: 90px;
            left: 14.5%;
        }
    }

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
        max-width: unset;
        align-items: center;

        &::before {
            top: 95%;
            bottom: -60px;
            left: 26.5%;
        }
    }
}

.timeline__row-icon {
    margin-right: 15px;

    font-size: 30px;
    text-align: center;
    width: 40px;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 25px;

        width: 65px;
        font-size: 60px;
    }

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
        margin-right: 35px;

        width: 70px;
        font-size: 70px;
    }
}

.timeline__row-text {
    text-align: left;
    width: 495px;
}

.timeline__row-text-heading {
    margin-bottom: 5px;
    font-family: "Amatic SC", cursive;
    font-size: 27px;
    font-weight: bold;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        font-size: 35px;
    }

    // Медиазапрос для десктопов
    @media (min-width: 1230px) {
        font-size: 40px;
    }
}

.timeline__row-text-desc {
    font-family: "Amatic SC", cursive;
}

.timeline__row-text-desc p {
    font-size: 25px;
}

.timeline__row-text-desc i {
    vertical-align: middle;
    font-size: 10px;

    // Медиазапрос для планшетов
    @media (min-width: 798px) {
        font-size: 15px;
    }
}
