* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
    font-family: inherit;
}

a,
a:visited {
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    max-width: 1140px !important;
    min-width: auto !important;
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
}
