extends ./../layouts/main.pug

block variables
    - const title = "Санитайзер";


block content
    include ../sections/nav-panel.pug
    include ../sections/header.pug

    main.main
        include ../sections/about.pug
