section.about#about
    .container
        h2.section__title Об устройстве
        .row
            .column
                img(src="./img/about/device.png")
            .column
                .about__text
                    | В состав устройства входят: опирающаяся на пол вертикальная штанга, форсунки для разбрызгивания дезинфицирующего раствора, включатель установки, насос для подачи дезинфицирующего раствора, ёмкость с раствором, блок питания.
        .row
            .column
                img(src="./img/about/device1.png")
            .column
                .about__text
                    | В состав устройства входят: опирающаяся на пол вертикальная штанга, форсунки для разбрызгивания дезинфицирующего раствора, включатель установки, насос для подачи дезинфицирующего раствора, ёмкость с раствором, блок питания.
