section.about#about
    .contaner
        h2.section__title Об устройстве
        .row
            .column
                img(src="./img/about/device.jpg")
            .column
                .about__text
                    | В состав устройства входят: опирающуюся на пол вертикальная штанга, форсунки для разбрызгивания дезинфицирующего раствора, включатель установки, насос для подачи дезинфицирующего раствора, ёмкость с раствором, блок питания.
