header.header
    .container

        //- for mobile devices
        .hamburger-wrapper
            #hamburger
                span.middle-line
        //- for mobile devices

        .row
            .column
                h1.main-title Чертежи для изготовления дезинфектора
            .column
                .header__img
                    img(src="./img/draft.jpg")
