.mobile-nav
    .close
        span.close-upstairs
        span.close-downstairs
    .mobile-nav__links
        a.nav-panel__link(href="#about") Об устройстве
        a.nav-panel__link(href="#property") Характеристики устройства
        a.nav-panel__link(href="#request") Оставить заявку

    a.request__link(href="mailto:ruslan-2037@yandex.ru")
        i(class="fas fa-envelope")
        p.request__link-title Почта:
        p.request__link-text ruslan-2037@yandex.ru

