nav.nav-panel
    .row
        a(href="#!").nav-panel__link Об устройстве
        a(href="#!").nav-panel__link Область применения
        a(href="#!").nav-panel__link Принцип работы
        a(href="#!").nav-panel__link Оставить заявку

