nav.nav-panel
    .container
        .row
            a(href="#about").nav-panel__link Об устройстве
            a(href="#!").nav-panel__link Область применения
            a(href="#!").nav-panel__link Демонстрация работы
            a(href="#!").nav-panel__link Оставить заявку

