nav.nav-panel
    .container
        .row
            a(href="#about").nav-panel__link Об устройстве
            a(href="#use-area").nav-panel__link Область применения
            a(href="#request").nav-panel__link Оставить заявку

