nav.nav-panel
    .container
        .row
            a(href="#about").nav-panel__link Об устройстве
            a(href="#property").nav-panel__link Характеристики устройства
            a(href="#request").nav-panel__link Оставить заявку
