section.request#request
    .container
        h2.section__title Оставить заявку
        .row
            .column
                a.request__link(href="mailto:ruslan-2037@yandex.ru")
                    i(class="fas fa-envelope")
                    p.request__link-title Почта:
                    p.request__link-text ruslan-2037@yandex.ru
            .column
                .form-block
                    form.section-contacts_content_form#section-contacts_content_form(action="./php/send.php")
                        input(type="hidden" name="project_name" value="sanitizer draft")
                        input(type="hidden" name="admin_email" value="ruslan-2037@yandex.ru")
                        input(type="hidden" name="email_from" value="info@portfolio.ru")
                        .form_element
                            input.input-validate#contact-form-email(type="email" name="email" placeholder="Ваш Email"  required)
                        .form_element
                            input.input-validate#contact-form-subject(type="text" name="subject" placeholder="Тема письма" required)
                        .form_element
                            textarea.input-validate.textarea-message#message(name="message" placeholder="Сообщение" required)
                        .submit-button
                            input.button_link.button(type="submit" value="Отправить" name="form-button")
                    div#answer