section.use-area#use-area
    .container
        h2.section__title Область применения
        .row
            +use-area("fas fa-house-user", "Дома")
            +use-area("fas fa-store", "В магазине")
            +use-area("fas fa-industry", "На производстве")
        .row
            +use-area("fas fa-graduation-cap", "В образовательных учреждениях")
            +use-area("fas fa-hospital", "В медицинских учреждениях")
            +use-area("fas fa-baby-carriage", "В детских садах")
        .row
            +use-area("fas fa-utensils", "В общественном питании")
            +use-area("fas fa-bus-alt", "В общественном транспорте")
